# Dependencies
node_modules

# Build outputs
dist
/dist
/.next

# Environment files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Contract environment files
/contract/.env
/contract/.env.local
/contract/.env.development.local
/contract/.env.test.local
/contract/.env.production.local

# Contract artifacts and cache
/contract/artifacts/
/contract/cache/

# System files
.DS_Store

# Deployment
.vercel
server/public

# Build artifacts
vite.config.ts.*
*.tar.gz


LOGS.md